body, html{
    padding: 0;
    margin: 0;
}

header{
    background-color: plum;
    height: 60px;
    grid-area: header;
}

nav{
    background-color: coral;
    grid-area: menu;
}

footer{
    background-color: aquamarine;
    height: 80px;
    grid-area: footer;
}

article{
    height: 240px;
    background-color: beige;
    grid-area: content;
}

#container {    
    margin: 0 auto;
    background-color: orange;
    width: 1200px;
    display: grid;
    grid-template-areas: 
    'header header header header'
    'menu content content content'
    'footer footer footer footer'
    ;
}